.doctor-profile .tab-content .table {
	font-size:1.1em;
	margin:0px 0;
}
.doctor-profile .tab-content .table th {
	color:#959595;
	text-align:right;
	padding:10px 15px;
	font-weight:normal;
	border:none;
}
.doctor-profile .tab-content .table td {
	padding:10px 15px;
	border:none;
}

/* doctor.list state */
.doctor-row {
	margin: 100px 15px;
}

ul.doctor-list {
	margin-left:0;
	padding-left:0;
}
ul.doctor-list li {
	list-style:none;
	float:left;
	margin:0 10px;
	text-align:center;
}
ul.doctor-list li img {
	width:150px;
	height:150px;
	margin-bottom:15px;
}
ul.doctor-list li p {
	font-size:0.9em;
}

.validation-form-group {
	display: inline;
	position: relative;
}
.invalid-input-sign {
	position: absolute;
	right:10px;
	top: 10px;
	color : #c62828;
	font-size : 18px;
}

/* parallax */

.parallax-background {
	background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  	-moz-background-size: cover;  /* Firefox 3.6 */
  	background-position: center;  /* Internet Explorer 7/8 */
}
.public-login-background {
	background-image: url(../images/login-public-bg.jpg);
}
.doctor-login-background {
	background-image: url(../images/login-doctor-bg.jpg);
}
.blog-detail-background {
	background-image: url(../images/article-detail-bg.jpg);
}
.main-kv-background {
	background-image: url(../images/mainKV.jpg);
}
.sub-kv-background {
	background-image: url(../images/subKV.jpg);
}

/* askdoctor */
.ask-btn {
	margin-top: 15px;
}

.comment-error {
	margin-top: 15px;
	margin-left:15px;
	font-size:16px;
}

.comment-badge {
	background-color:#616161;
}

.question-content-tag {
	margin-top: 20px;
}

.my-rating-bar {
	margin-top: 10px;
}
.my-rating-bar i {
	margin:0 2px;
	color:#faa500;
	padding-top:10px;
}