<div class="aboutus-kv parallax-container parallax-background about-kv-background" parallax-background parallax-ratio="0.4" ng-class="{ true: 'main-kv-auth', false : 'main-kv-notauth' }[authenticated]"></div>

<section class="container-fluid">
  <!-- about us 1 column -->
  <div class="container about-us">
  	<div class="col-lg-10 col-lg-offset-1">
  	  <h2 class="text-center">關於我們</h2>
      <ul>
        <li>我們的團隊成員包含醫師、工程師、物理治療師、攝影師等，具有高度專業性的團隊，我們投入於這個團隊，是因為看到了民眾的需求！</li>
        <li>我們是最值得您信任的醫療資訊線上資訊提供者。</li>
        <li>我們重視開放透明與值得信任的醫療平台。</li>
        <li>我們重視準確的醫療知識，不將來路不明的資訊傳達給大眾。</li>
        <li>我們相信醫療資訊網路化，能夠減少民眾對於醫學資訊的陌生。</li>
        <li>我們幫助診所、醫療機構、消防局等官方單位製作網頁、app (iOS+adroid雙系統) 與形象影片拍攝
          <ul>
            <li>具醫療專業的成員將協助進行內部文案資料整合。</li>
            <li>具工程專業的成員將協助您優化User Interface，製作最佳視覺化的新銳網路。</li>
            <li>具攝影專業的成員將協助您拍攝最佳的店面以及產品介紹。</li>
          </ul>
  		  </li>
     	</ul>
    </div>

    <div class="col-lg-10 col-lg-offset-1">
      <h2 class="text-center">成員介紹</h2>

      <div class="row">

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div  class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper"  >
              <div class="front" >
                <img src="images/aboutus/1.png" width="240" class="img-circle"></img>
              </div>
              <div class="back">
              <h3 align="center">創辦人</h3>
                <h1 align="center"><a href="https://www.facebook.com/cheng.yuhao.5?fref=ts">鄭語皓</a></h1>
                <p align="center">仁愛醫院不分科住院醫師</p>
                <p align="center">美國杜克大學醫學中心實習醫師</p>
                <p align="center">TIC 100物聯競賽企業組冠軍</p>
                <p align="center">季風文教基金會優秀青年 </p>
              </div>
            </div>
          </div>
        </div>


        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper" >
              <div class="front">
                <img src="images/aboutus/2.png" width="240" class="img-circle"></img>
              </div>
              <div class="back">
                <h3 align="center">執行長</h3>
                <h1 align="center">傅裕翔</h1>
                <p align="center">亞東醫院實習醫師</p>
                <p align="center">美國天普醫學中心實習醫師</p>
                <p align="center">TIC 100 物聯競賽企業組冠軍</p>
                <p align="center">SCI國際學術論文 x 2 </p>
              </div>
            </div>
          </div>
        </div>


        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div  class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper"  >
              <div class="front" >
                <img src="images/aboutus/3.png" width="240" class="img-circle"></img>
              </div>
              <div class="back">
              <h3 align="center">技術長</h3>
                <h1 align="center">林硯澤</h1>
                <p align="center">國立台灣大學電信工程學研究所碩士班</p>
                <p align="center">國立交通大學電信工程學系</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper" >
              <div class="front">
                <img src="images/aboutus/4.png" width="240"></img>
              </div>
              <div class="back">
                <h3  align="center">行銷經理</h2>
                <h1  align="center">張璇</h1>
                <p align="center">Interfysio公司 美國職能治療師</p>
                <p align="center">台灣大學職能治療系學士</p>
                <p align="center">美國紐約大學職能治療碩士</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper" >
              <div class="front">
                <img src="images/aboutus/5.png" width="240"></img>
              </div>
              <div class="back">
                <h3 align="center">業務經理</h2>
                <h1 align="center">凃方婷</h1>
                <p align="center">眾鼎鑫業股份有限公司業務</p>
                <p align="center">多年旅遊、餐飲、醫療、電子產品業務經驗</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper" >
              <div class="front">
                <img src="images/aboutus/7.png" width="240"></img>
              </div>
              <div class="back">
                <h3 align="center">副技術長</h2>
                <h1 align="center">陳俊佑</h1>
                <p align="center">國立台灣大學電機工程學系學士班</p>
                <p align="center">國立台灣大學電信工程學研究所碩士班</p>
                <p align="center">睿波智能有限公司 工程師  </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper" >
              <div class="front">
                <img src="images/aboutus/6.png" width="240"></img>
              </div>
              <div class="back">
                <h3>業務經理</h3>
                <h1>靳嚴博</h1>
                <p>陽明大學醫學系</p>
                <p>第26屆台灣醫學生聯合會公關部長</p>
                <p>2014世界醫學生大會台灣代表</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper" >
              <div class="front">
                <img src="images/aboutus/8.png" width="240"></img>
              </div>
              <div class="back">
                <h3>技術總監</h3>
                <h1>顏楷霖</h1>
                <p>成功大學光電工程學系</p>
                <p>政治大學Hackthon黑客松第二名</p>
                <p>台灣大學生物機電研究所</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper" >
              <div class="front">
                <img src="images/aboutus/9.png" width="240"></img>
              </div>
              <div class="back">
                <h3>專案經理</h3>
                <h1>郭秉勳</h1>
                <p>台灣科技大學電機工程學系</p>
                <p>台灣大學電機工程學研究所</p>
                <p>中鼎工程公司電機工程師</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper" >
              <div class="front">
                <img src="images/aboutus/10.png" width="240"></img>
              </div>
              <div class="back">
                <h3>工程師</h3>
                <h1>蘇益賢</h1>
                <p>中央大學通訊工程學系</p>
                <p>中央大學資電院網路管理人員</p>
                <p>台灣大學電信工程研究所</p>
                <p>台灣大學電信所網路管理人員</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper" >
              <div class="front">
                <img src="images/aboutus/0.png" width="240"></img>
              </div>
              <div class="back">
                <h3>醫學顧問</h3>
                <h1>鄭鴻鈞</h1>
                <p>和信治癌中心醫院放射腫瘤科主任</p>
                <p>中華民國癌症醫學會常務理事</p>
                <p>台灣放射腫瘤醫學會理事</p>
                <p>美國杜克大學醫學中心放射腫瘤部兼任副教授</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper" >
              <div class="front">
                <img src="images/aboutus/11.jpg" width="240"></img>
              </div>
              <div class="back">
                <h3>Big Data團隊</h3>
                <h3>Frank/Phoebe</h3>
                <h3>Johnson/Marsan</h3>

                <p>四人擁有數據分析專長和多年經驗，與醫創公司進行跨界合作</p>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="col-lg-10 col-lg-offset-1" style="margin-top: 100px;">
      <h2 class="text-center">特別感謝</h2>
      <h3 style="font-size:32px;">協助網站製作：</h3>
      <ul class="list-unstyled">
        <li><strong style="font-size:24px;">陳煜中</strong></li>
        <li><strong style="font-size:24px;">盧奕吾</strong></li>
      </ul>
    </div>
  </div>
</section>
