<div class="aboutus-kv parallax-container parallax-background about-kv-background" parallax-background parallax-ratio="0.4"></div>

<section class="container-fluid">
  <!-- about us 1 column -->
  <div class="container about-us">
  	<div class="col-lg-10 col-lg-offset-1">
  	  <h2 class="text-center">關於我們</h2>
      <ul>
        <li>我們的團隊成員包含醫師、工程師、物理治療師、攝影師等，具有高度專業性的團隊，我們投入於這個團隊，是因為看到了民眾的需求！</li>
        <li>我們是最值得您信任的醫療資訊線上資訊提供者。</li>
        <li>我們重視開放透明與值得信任的醫療平台。</li>
        <li>我們重視準確的醫療知識，不將來路不明的資訊傳達給大眾。</li>
        <li>我們相信醫療資訊網路化，能夠減少民眾對於醫學資訊的陌生。</li>
        <li>我們幫助診所、醫療機構、消防局等官方單位製作網頁、app (iOS+adroid雙系統) 與形象影片拍攝
          <ul>
            <li>具醫療專業的成員將協助進行內部文案資料整合。</li>
            <li>具工程專業的成員將協助您優化User Interface，製作最佳視覺化的新銳網路。</li>
            <li>具攝影專業的成員將協助您拍攝最佳的店面以及產品介紹。</li>
          </ul>
  		  </li>
     	</ul>
    </div>
  </div>
</section>
