<!-- footer -->
<footer class="footer" ng-controller="footerController as vm">
    <div class="container">
    <p id="back-top"><a ng-click="vm.scrollToTop()"><span>TOP</span></a></p>

    <!--<div class="row">
        <div class="col-lg-4 col-sm-4 col-xs-12 partition">
        <h3>招募合作夥伴</h3>
        <p>我們是醫創團隊，團隊內部有二十多位醫師、工程師、廚師等，我們計畫從年輕醫師、從2015年開始改變台灣醫療現況，讓醫療對於民眾更加便利，招募以下合作夥伴。</p>
        </div>

        <div class="col-lg-4 col-sm-4 col-xs-12 partition">
        <h3>媒體報導</h3>
        <ul class="media">
        <li><img src="images/media_01.jpg" /></li>
        <li><img src="images/media_02.jpg" /></li>
        <li><img src="images/media_03.jpg" /></li>
        <li><img src="images/media_04.jpg" /></li>
        <li><img src="images/media_05.jpg" /></li>
        <li><img src="images/media_06.jpg" /></li>
        </ul>
        </div>

        <div class="col-lg-4 col-sm-4 col-xs-12">
        <h3>訂閱快捷</h3>
        <a href="javascript:void(0)"><i class="fa fa-facebook fa-3x"></i></a>
        <a href="javascript:void(0)"><i class="fa fa-youtube fa-3x"></i></a>
        <a href="javascript:void(0)"><i class="fa fa-google-plus fa-3x"></i></a>
        <a href="javascript:void(0)"><i class="fa fa-instagram fa-3x"></i></a>
        <a href="javascript:void(0)"><i class="fa fa-pinterest fa-3x"></i></a>
        <form class="form-inline">
        <div class="form-group">
        <label for="Email" class="sr-only">Email</label>
        <input type="email" class="form-control" id="Email" placeholder="請輸入您的Email"></input>
        </div>
        <button type="submit" class="btn btn-success">訂閱</button>
        </form>
        </div>
    </div>-->
    </div>

    <div class="bottom-copy">
    <div class="container">
    <div class="row">
        <div class="col-sm-8 col-xs-8"><p><a ui-sref="aboutus">關於我們</a> ｜ <a href="privacy.html">隱私權聲明</a></p></div>
        <div class="col-sm-4 col-xs-4"><p class="text-right">Copyright © 2015 醫創網</p></div>
    </div>
    </div>
    </div>
</footer>