<div class="container-fluid">
  <div class="main-kv parallax-container parallax-background main-kv-background" parallax-background parallax-ratio="0.4" ng-class="{ true: 'main-kv-auth', false : 'main-kv-notauth' }[authenticated]">
    <div class="container">
      <div class="row">

        <!--slide-->
        <div class="col-lg-7 col-md-7">
          <div id="doctorslide" class="carousel slide benefit">

            <carousel class="carousel-inner" interval="5000">
              <slide id="carousel-slide" active="$first" ng-repeat="doctor in vm.frontPageDoctorSlideList">
                <div class="item">
                  <img ng-src="{{ doctor.photo_url }}" alt="" class="img-circle img-responsive" />
                  <div class="carousel-caption">
                    <h4>{{ doctor.doctor_title }}</h4>
                    <img ng-src="{{ doctor.sign_url }}" alt="" />
                  </div>
                </div>
              </slide>
            </carousel>

          </div>
        </div>

        <div class="col-lg-5 col-md-5 cursor-pointer cl-effect-15" ui-sref="doctor.list({ category : 'all' })" ng-mouseover="vm.enterDoctorListLink()" ng-mouseleave="vm.leaveDoctorListLink()">
          <h1><a data-hover="歡迎來到 醫創網">歡迎來到 醫創網</a></h1>
          <p class="hidden-xs hidden-sm"><a data-hover="目前已有駐站醫師{{ vm.doctorCount }}位，提供您專業諮詢">目前已有駐站醫師{{ vm.doctorCount }}位，提供您專業諮詢</a></p>
          <p><a class="btn round-btn" ui-sref="doctor.list({ category : 'all' })">看看有哪些醫生 »</a></p>
        </div>

      </div>
    </div>
  </div>
</div>

<section class="container identity" ng-show="!authenticated">
  <div class="row">

    <div class="col-sm-6 col-lg-6 text-center">
      <span class="public"></span>
      <h2>我是一般民眾</h2>
      <a href="javascript:void(0)" ui-sref="account.signin.user" class="btn round-btn">登入</a> 或 <a href="javascript:void(0)" ui-sref="account.signup.user" class="btn round-btn">註冊</a>
    </div>

    <div class="col-sm-6 col-lg-6 text-center">
      <span class="doctor"></span>
      <h2>我是醫生</h2>
      <a href="javascript:void(0)" ui-sref="account.signin.doctor" class="btn round-btn">登入</a> 或 <a href="javascript:void(0)" ui-sref="account.signup.doctor" class="btn round-btn">註冊</a>
    </div>

  </div>
</section>

<!-- ask a question -->
<section class="container-fluid ask parallax-container parallax-background ask-kv-background" parallax-background parallax-ratio="0.2">
  <div class="container">
    <div class="row">

      <div class="col-lg-8 col-lg-offset-2 text-center ask-box">
        <h2>醫生，我有問題想問</h2>

        <form role="form" name="vm.questionForm" novalidate>
          <div class="form-group">
            <label for="search" class="sr-only">發問</label>
            <textarea ng-show="authenticated" name="questionText" class="form-control input-lg" ng-model="vm.questionText" ng-minlength="vm.questionLengthMin" required rows="5" placeholder="請詳細描述您的症狀、疾病和身體狀況（10字以上），方便醫生了解您的情況"></textarea>
            <textarea ng-show="!authenticated" class="form-control input-lg" rows="5" placeholder="請先登入以發表問題" disabled></textarea>
          </div>

          <div class="row">
            <div class="col-lg-6 col-sm-6 col-xs-12">
              <select class="form-control input-lg" type="ask-type"
                ng-disabled="!authenticated"
                ng-model="vm.selectedCategory"
                ng-options="category.name as category.text for category in vm.askdoctorCategoryList">
              </select>
            </div>

            <!-- <div class="col-lg-3 col-sm-3 col-xs-12 p-top">
              <button class="btn btn-default btn-lg" type="submit"><i class="fa fa-camera"></i> 插入圖片</button>
            </div> -->

            <div class="col-lg-6 col-sm-6 col-xs-12 p-top">
              <button ng-disabled="!authenticated" class="btn btn-info btn-lg btn-block" type="submit" ng-click="vm.askQuestion()"><i class="fa fa-paper-plane"></i> 發問送出</button>
            </div>
          </div>

          <div class="row">
            <p class="pull-left pink-style comment-error" ng-show="vm.questionSubmitted && vm.questionForm.questionText.$invalid">問題內容字數至少要十個字以上</p>
            <p class="pull-left comment-error" ng-class="{ true : 'blue-style-1', false : 'pink-style' }[ vm.statusMessage && vm.statusMessage.type ==='success' ]" ng-show="!vm.questionSubmitted && vm.statusMessage.isShown">{{ vm.statusMessage.message }}</p>
          </div>
        </form>

      </div>
    </div>
  </div>
</section>

<section class="container do-what">
  <div class="container">
    <div class="col-lg-12 text-center">
      <h2>在這裡，我能做些什麼？</h2>
      <h4>您可以很輕鬆完成以下</h4>

      <div class="col-lg-4 col-sm-4 col-lg-4 text-center">
        <div class="do-what-icon-1"></div>
        <h4>醫學問題的即時發問</h4>
        <p class="grey-style-1">上百位的醫生即時線上解決您的問題<br />免排隊掛號等待</p>
        <p><a class="btn round-btn" href="javascript:void(0)" ui-sref="askdoctor.home" role="button">快來問問</a></p>
      </div>

      <div class="col-lg-4 col-sm-4 col-lg-4 text-center">
        <div class="do-what-icon-2"></div>
        <h4>看醫師把關的醫學專業文章</h4>
        <p class="grey-style-1">這裏的文章由專業醫師把關撰寫<br />再也不用相信網路上來路不明的醫學傳言</p>
        <p><a class="btn round-btn" href="javascript:void(0)" ui-sref="blog.home" role="button">快來看看</a></p>
      </div>

      <div class="col-lg-4 col-sm-4 col-lg-4 text-center">
        <div class="do-what-icon-3"></div>
        <h4>查看駐站醫師們</h4>
        <p class="grey-style-1">提供駐站醫師們的基本資料供您參考<br /><br /></p>
        <p><a class="btn round-btn" href="javascript:void(0)" role="button" ui-sref="doctor.list({ category : 'all'})">快來找找</a></p>
      </div>
    </div>
  </div>
</section>

<!-- <div class="subkv parallax-container parallax-background sub-kv-background" parallax-background parallax-ratio="0.4"></div> -->

<!-- our service 3 row -->
<section class="container-fluid service servicebg1 mobile-hidden-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-sm-7 col-lg-offset-2">
        <h3>學到更多</h3>
        <p>透過醫創團隊把關的醫療文章與舉辦的實體衛教演講，您將可學到最正確的醫療知識！</p>
        <p>
          還在聽信網路上不正確的醫療健康流言嗎？<br />
          快點加入醫創會員給您最正確的醫療知識！
        </p>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid service servicebg2 mobile-hidden-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-sm-7 col-lg-offset-5 col-sm-offset-5">
        <h3>得到幫助</h3>
        <p>有醫療問題嗎? 來醫創網問吧！</p>
        <p>
          醫創團隊嚴格要求線上Q&amp;A的效率，針對此在線上回答的都具有醫師執照！<br />
          您能透過與醫師一對一的線上交流得到最快速的醫療建議，做出更周全的醫療選擇。
        </p>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid service servicebg3 mobile-hidden-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-sm-7 col-lg-offset-2">
        <h3>立刻行動</h3>
        <p>得到醫療建議後，就立刻行動吧！</p>
        <p>
          醫師給您的建議將能讓你更精確掌握自己的健康狀況，<br />
          採取行動，讓每一天的自己都更健康。
        </p>
      </div>
    </div>
  </div>
</section>
