<div class="aboutus-kv parallax-container parallax-background about-kv-background" parallax-background parallax-ratio="0.4" ng-class="{ true: 'main-kv-auth', false : 'main-kv-notauth' }[authenticated]"></div>

<section class="container-fluid">
  <!-- about us 1 column -->
  <div class="container about-us">
  	<div class="col-lg-10 col-lg-offset-1">
  	  <h2 class="text-center">隱私權聲明</h2>
      <p>非常歡迎您光臨<strong>醫創股份有限公司之醫療資訊網站</strong>(下稱：本網站)，為了讓您能夠安心的使用本網站的各項服務與資訊，特此向您說明本網站的隱私權保護政策，以保障您的權益，請您詳閱下列內容：</p>

      <h3>一、 隱私權保護政策的適用範圍</h3>
      <p>隱私權保護政策內容，包括本網站如何處理、利用及維護在您使用網站服務時收集到的個人資料。隱私權保護政策不適用於本網站以外的相關連結網站，也不適用於非本網站所委託或參與管理的人員。</p>

      <h3>二、 資料蒐集目的、範圍與使用方式</h3>
      <p>為了在本網站上提供您最佳的線上醫師即時問答、全台醫療資源查詢、系統性醫學文章整合、及醫療健康相關之互動性服務目的，可能會請您提供相關個人的資料，其範圍如下：</p>
      <ol>
        <li>本網站在您使用提交資訊或提出問題等互動性功能時，會蒐集或保留您所提供的姓名、性別、年齡、身體各類指數數值、生活作息、聯絡方式、使用時間等個人資訊，但不包含您的醫療紀錄或健康檢查資訊。</li>
        <li>於一般瀏覽時，伺服器會自行記錄相關行徑，包括您使用連線設備的IP位址、使用時間、使用的瀏覽器、瀏覽及點選資料記錄等。</li>
        <li>為提供精確的服務，我們會將所蒐集的資訊內容進行統計與分析，以文字呈現分析結果之統計數據或說明。</li>
        <li>其他未提供服務之目的而取得之其他資訊。</li>
        <li>本網站得於<strong>[您接受服務的]</strong>期間內、<strong>[全球]</strong>區域內、提供服務或提升服務之範圍內使用、研究或分析您的個人資料，除非取得您的同意或其他法令之特別規定，本網站絕不會將您的個人資料揭露予第三人或使用於蒐集目的以外之其他用途。</li>
      </ol>

      <h3>三、 個人資料之保護</h3>
      <ol>
        <li>本網站主機均設有防火牆、防毒系統等相關的各項資訊安全設備及必要的安全防護措施，加以保護網站及您的個人資料採用嚴格的保護措施，只由經過授權的人員才能接觸您的個人資料，相關處理人員皆簽有保密合約，如有違反保密義務者，將會受到相關的法律處分。</li>
        <li>如因業務需要有必要委託本網站相關單位提供服務時，本網站亦會嚴格要求其遵守保密義務，並且採取必要檢查程序以確定其將確實遵守。</li>
      </ol>

      <h3>四、 資料之取回、刪除等權利</h3>
      <ol>
        <li>我們提供您關於個人資訊蒐集、使用與共用的選擇。，在您使用本網站時，您可以選擇接受我們的推廣資訊，您也可以註明停止接收我們進一步通訊資料的偏好，依照您所收到之電子郵件所提供的取消訂閱指示，或直接與我們聯絡，取消推廣資訊之訂閱[會/不會]影響您使用本網站提供之服務。然而，即使您註明了電子郵件偏好，我們還是可能寄送本網站「隱私權政策」的更新通知。</li>
        <li>若您不欲繼續使用本網站提供之服務時，可以要求本網站停止蒐集、處理或利用，並且刪除您的個人資料。</li>
        <li>於使用本網站之服務期間，若您希望變更或補充您的個人資料，請直接寄送電子郵件至以下地址：[service@echarm.com.tw]。</li>
      </ol>

      <h3>五、 網站對外的相關連結</h3>
      <p>本網站的網頁提供其他網站的網路連結，您也可經由本網站所提供的連結，點選進入其他網站。但該連結網站不適用本網站的隱私權保護政策，您必須參考該連結網站中的隱私權保護政策。您由本網站提供之連結進入其他網站，而於其他網站承受損害，本網站不負任何責任。</p>

      <h3>六、 Cookie之使用</h3>
      <p>為了提供您最佳的服務，本網站會在您的電腦中放置並取用我們的Cookie，若您不願接受Cookie的寫入，您可在您使用的瀏覽器功能項中設定隱私權等級為高，即可拒絕Cookie的寫入，但可能會導致網站某些功能無法正常執行。</p>

      <h3>七、 隱私權保護政策之修正</h3>
      <p>本網站隱私權保護政策將因應需求隨時進行修正，修正後的條款將刊登於網站上。若您繼續使用本網站服務，視同理解並同意本網站隱私權保護政策及政策的修正。</p>
    </div>
  </div>
</section>
