<!-- user panel -->
<section class="container-fluid">
  <div class="container">
    <ol class="breadcrumb hidden-xs text-right">
      <li><a ui-sref="home">醫創網</a></li>
      <li class="active">醫師專業文章</li>
    </ol>
  </div>
</section>


<!-- QA category  -->
<section class="container-fluid">
  <div class="container">
    <div class="col-lg-9 col-sm-8">
      <!--category-->
      <div class="row">
        <ul class="category clearfix">
          <li
            ng-show="category.display !== 'none'"
            ng-repeat="category in vm.categoryList"
            ng-class="{ true : 'col-lg-12', false : 'col-lg-6' }[ category.display === 'full' || category.display === 'full-nopadding' ]"
            ng-style="
            ((category.display === 'full') && {
                'background' : 'url(' + category.background_url + ') no-repeat left center',
                'padding-left' : '50%'
            }) ||
            ((category.display === 'left') && {
                'background' : 'url(' + category.background_url + ') no-repeat right center',
                'border-radius' : '5px 0 0 5px'
            }) ||
            ((category.display === 'right') && {
                'background' : 'url(' + category.background_url + ') no-repeat right center',
                'border-radius' : '0 5px 5px 0',
                'border-left' : 'none'
            }) ||
            ((category.display === 'full-nopadding') && {
                'background' : 'url(' + category.background_url + ') no-repeat right center'
            })">
            <h3>{{category.text}}</h3>
            <p>
              <span ng-repeat="des in category.description">{{ des }}<br ng-show="!$last" /></span>
            </p>
            <a ui-sref="blog.list({ category : category.name })" class="btn round-btn">欣賞文章</a>
          </li>
        </ul>
      </div>
    </div>

    <!-- sidebar start -->
    <div class="col-lg-3 col-sm-4">
      <div id="side-bar">
        <h3>熱門文章</h3>

        <accordion close-others="vm.oneAccordionAtATime">
          <accordion-group heading="{{category.text}}" is-open="false" is-disabled="false" ng-repeat="category in vm.categoryList" ng-show="category.display !== 'none'">
            <ul class="faq-rocommend">
              <li ng-repeat="article in vm.popularArticleList[category.name]">
                <span>A</span><a ui-sref="blog.detail({ category : category.name, articleId : article.article_id })">{{ article.article_title | limitTo : vm.articleTitleLimit}} {{ article.article_title.length > vm.articleTitleLimit ? '...' : '' }}</a>
              </li>
            </ul>
          </accordion-group>
        </accordion>

        <div class="side-ad text-center">
          <a href="#">
            <img src="images/side-ad.jpg" alt="" class="img-responsive" />
          </a>
        </div>

      </div>
      <!--end sidebar-->
    </div>

  </div>
</section>