<!-- article category -->
<section class="container-fluid submenu opacity">
  <div class="container">

    <!-- <div class="pull-right">
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="搜尋文章">
            <span class="input-group-btn"><button class="btn btn-default" type="button"><i class="fa fa-search"></i></button></span>
          </div>
        </div>
      </form>
    </div> -->

    <ul class="nav nav-tabs">
      <li role="navigation" ng-class="{true: 'active'}[vm.article.category === category.name]" ng-repeat="category in vm.categoryList">
        <a ui-sref="blog.list({ category : category.name })">
          {{category.text}}
        </a>
      </li>
    </ul>

  </div>
</section>

<!-- main content start -->
<section class="container-fluid article-bg parallax-container parallax-background blog-detail-background" parallax-background parallax-ratio="0.4">
  <div class="container">

    <div class="row">
      <div class="article-ttl">
        <h1>{{vm.article.title}}</h1>
      </div>
    </div>

    <ol class="breadcrumb hidden-xs text-right">
      <li><a ui-sref="home">醫創網</a></li>
      <li><a ui-sref="blog.list({ category : vm.article.category })">醫師專業文章</a></li>
      <li class="active">{{ vm.categoryName }}</li>
    </ol>

    <!-- article start -->
    <div class="article-full-block">
      <div id="back" class="hidden-md hidden-sm hidden-xs"><a href="article-index.html">返回</a></div>

      <div class="article-author">Written By: <a ui-sref="doctor.detail({ category : vm.author.user_info.category, doctorId : vm.author.account_id })">{{ vm.author.user_info.name }} 醫師</a> {{vm.article.created_at | relativeDate }} | Taged In: 精神 心理醫療
       <!-- <div class="satisfy pull-right">滿意度 <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i></div> -->
      </div>

      <!---->

	  <div class="article-content">

        <div blog-article-content-directive article="vm.testArticle"></div>

        <div class="article-content-tag">
          <a ng-show="!vm.iAlreadyRated" class="btn round-btn" ng-click="vm.collapseMyRatingBar()">我要評分</a>
          <button ng-show="vm.iAlreadyRated" href="javascript:void(0)" class="btn round-btn" disabled><strong>我的評分 {{vm.myRating}}</strong></button>
          <a href="javascript:void(0)" ng-click="vm.collapseFavMessage();vm.favUnfavThisArticle()" class="btn round-btn favorite-btn">{{vm.isThisArticleFavorited ? '取消' : ''}}收藏 <i ng-show="vm.isThisArticleFavorited" class="fa fa-heart"></i></a><!-- <a href="#" class="btn round-btn">訂閱</a><a href="#" class="btn round-btn">email給朋友</a> -->

          <div class="satisfy pull-right" ng-show="vm.ratingList && vm.ratingList.length">
            {{ vm.overRatingValue ? vm.overRatingValue : '滿意度' }}
            <rating ng-model="vm.avgRating" max="vm.ratingMax" readonly="true" state-on="'fa fa-star'" state-off="'fa fa-star-o'" on-hover="vm.hoverOverRating(value)" on-leave="vm.overRatingValue = null"></rating>
          </div>
          <div class="pull-right" ng-show="!vm.ratingList || !vm.ratingList.length">
            目前尚無評分紀錄
          </div>

            <!-- <a href="#" class="btn round-btn">訂閱</a> -->

          <div class="my-rating-bar" collapse="vm.isMyRatingBarCollapsed">
            <p ng-show="!authenticated" class="pink-style">請先登入來進行評分</p>
            <p ng-show="authenticated && vm.ratingStatusMessage.isShown" ng-class="{ true : 'blue-style-1', false : 'pink-style' }[ vm.ratingStatusMessage && vm.ratingStatusMessage.type === 'success' ]">{{ vm.ratingStatusMessage.message }}</p>
            <ul ng-show="authenticated && !vm.iAlreadyRated" class="list-inline list-unstyled">
              <li><rating ng-model="vm.myRating" max="vm.ratingMax" ng-click="vm.rateThisArticle()" readonly="false" state-on="'fa fa-star'" state-off="'fa fa-star-o'"></rating></li>
              <li>我的評分{{vm.myRating}}</li>
              <!-- <li><a href="#" class="btn btn-sm round-btn">送出評分</a></li> -->
            </ul>
          </div>

          <div class="my-rating-bar" collapse="vm.isFavMessageCollapsed" ng-show="vm.answer">
            <p ng-show="!authenticated" class="pink-style">請先登入來進行收藏</p>
            <p ng-show="authenticated && vm.favoriteStatusMessage.isShown" ng-class="{ true : 'blue-style-1', false : 'pink-style' }[ vm.favoriteStatusMessage && vm.favoriteStatusMessage.type === 'success' ]">{{ vm.favoriteStatusMessage.message }}</p>
          </div>

          <ul ng-social-buttons
               class="pull-right"
               data-title="'the tittle'"
               data-description="'the description'">
               <!-- facebook and google+ only share the url -->
              <li class="ng-social-facebook">Facebook</li>
              <li class="ng-social-google-plus">Google+</li>
              <li class="ng-social-twitter">Twitter</li>

              <!-- there are some seldom-used social bottom below: -->

              <!-- <li class="ng-social-vk">Вконтакте</li>
              <li class="ng-social-odnoklassniki">Одноклассники</li>
              <li class="ng-social-mailru">Мой мир</li>
              <li class="ng-social-pinterest">Pinterest</li>
              <li class="ng-social-github" user="esvit" repository="ng-table">GitHub</li>
              <li class="ng-social-github-forks" user="esvit" repository="ng-table">Forks</li> -->
          </ul>
        </div>

        <!--AD-->
        <div class="adblock img-responsive"><a href="#"><img src="images/ad.jpg"></a></div>

        <!-- author -->
        <div class="question-profile">
          <a ui-sref="doctor.detail({ category : vm.author.user_info.category, doctorId : vm.author.account_id })" class="doc-profile">
            <img src="images/docpic.jpg" alt="" class="img-circle" />{{ vm.author.user_info.name }} 醫師
          </a>
          | {{ vm.author.user_info.current_hospital }}  皮膚科
        </div>


        <!-- Newly added rating part -->
        <br/>

        <br/>


        <div class="more-article">
          <div class="mark"><span>熱門文章</span></div>
          <ul class="faq-rocommend">
            <li><span>01</span><a href="#">愛的萬物論：為什麼我們會相愛、背叛、離開彼此</a></li>
            <li><span>02</span><a href="#">愛的萬物論：史蒂芬．霍金的愛的萬物論</a></li>
            <li><span>03</span><a href="#">11位稱得上是科學家的影星（下）</a></li>
          </ul>
        </div>

      </div>

    </div>

    <div class="comment-caption">
      <ul class="list-inline">
        <li><h3>評論列表<span>{{ vm.commentList ? vm.commentList.length : '0' }}</span></h3></li>
        <li class="pull-right"><button href="#blog-comment-form" duration="0" du-smooth-scroll class="btn round-btn pull-right">我要評論這則問答</button></li>
      </ul>
      <hr>
    </div>

    <div class="disqus-board">

      <div class="question-block" ng-repeat="comment in vm.commentList" ng-show="vm.commentList">
        <div class="question-top noanswer">
          <div class="question-profile">
            <a href="#">
              <!-- Sticker -->
              <img ng-show="comment.user.user_type !== 'DOCTOR'" ng-src="{{ (comment.user.user_info.sticker_url) ? comment.user.user_info.sticker_url : 'images/default-user-sticker.png'}}" alt="" class="img-circle" />
              <img ng-show="comment.user.user_type === 'DOCTOR'" ng-src="{{ (comment.user.user_info.sticker_url) ? comment.user.user_info.sticker_url : 'images/default-doctor-sticker.png'}}" alt="" class="img-circle" />
              {{comment.user && comment.user.user_info ? comment.user.user_info.name : '' }}
            </a>
            <!-- <i class="fa fa-venus"></i> -->
            <span>{{ comment.created_at ? (comment.created_at | relativeDate) : '' }}</span>
          </div>
          <p>
            {{comment.comment_text}}
          </p>
        </div>
      </div>


      <div class="row" ng-show="!authenticated || acount.user_type !== 'DOCTOR' || vm.commentList">
        <div class="col-lg-2 col-sm-2">
          <div class="user-thumb-md">
            <a href="#" class="doc-profile">
              <!-- Sticker -->
              <img ng-show="vm.myAccount.user_type !== 'DOCTOR'" ng-src="{{ (vm.myAccount.user_info.sticker_url) ? vm.myAccount.user_info.sticker_url : 'images/default-user-sticker.png'}}" alt="" class="img-circle" />
              <img ng-show="vm.myAccount.user_type === 'DOCTOR'" ng-src="{{ (vm.myAccount.user_info.sticker_url) ? vm.myAccount.user_info.sticker_url : 'images/default-doctor-sticker.png'}}" alt="" class="img-circle" />
            </a>
            <p ng-show="authenticated">
              {{ (vm.myAccount && vm.myAccount.user_info && vm.myAccount.user_info.name) ? vm.myAccount.user_info.name : vm.myAccount.username }}
            </p>
            <p ng-show="authenticated">
              <!-- age -->
              {{ vm.myAccount.user_info.age ? vm.myAccount.user_info.age + '歲' : ''}}
              <!-- gender -->
              <i ng-show="vm.myAccount.user_info.gender === vm.GENDER_STRING.MALE" class="fa fa-mars"></i>
              <i ng-show="vm.myAccount.user_info.gender === vm.GENDER_STRING.FEMALE" class="fa fa-venus"></i>
            </p>
            <p ng-show="!authenticated">
              訪客
            </p>
          </div>
        </div>

        <div class="col-lg-10 col-sm-10">

          <div role="tabpanel">
            <ul class="nav nav-pills ask-type" role="tablist">
              <li ><a href=""role="tab">發表評論</a></li>
            </ul>
          </div>

          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active">
              <form name="vm.commentForm" id="blog-comment-form" role="form" novalidate>
                <textarea class="form-control" ng-model="vm.commentText" name="commentText" rows="4" ng-show="authenticated" ng-minlength="vm.min" required placeholder="請輸入評論內容，字數至少要十個字以上"></textarea>
                <textarea ng-show="!authenticated" class="form-control" ng-show="!authenticated" rows="4" placeholder="請先登入以發表評論" disabled></textarea>
                <p class="pull-left pink-style comment-error" ng-show="vm.commentSubmitted && vm.commentForm.commentText.$invalid">評論內容字數至少要十個字以上</p>
                <p class="pull-left comment-error" ng-class="{ true : 'blue-style-1', false : 'pink-style' }[ vm.commentStatusMessage && vm.commentStatusMessage.type === 'success' ]" ng-show="!vm.commentSubmitted && vm.commentStatusMessage.isShown">{{ vm.commentStatusMessage.message }}</p>
                <div class="pull-right"><button class="btn round-btn ask-btn" ng-click="vm.commentThisArticle()" type="submit" ng-disabled="!authenticated">送出評論</button></div>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
	  </div>


  </div>

</section>
<section class="container-fluid qa-board">

</section>


