<div class="article-intro-block">
  <div class="article-intro-content">
    <div class="article-intro-img"><img ng-src="{{ vm.introIconUrl }}" alt="intro_icon" /></div>
    <div class="article-intro-quote">
      <div class="article-intro-footer">你為什麼需要閱讀這篇文章</div>
      <p>
        <span ng-repeat="intro in vm.articleContent.intros">{{ intro }}<br ng-show="!$last"></span>
      </p>
    </div>
  </div>
</div>

<div ng-show="vm.articleContent && vm.articleContent.blocks" ng-repeat="block in vm.articleContent.blocks">
  <div class="article-content-block" ng-if="block.block_type === vm.Constants.BLOCK_TYPE.HEADING">
    <h1 ng-if="block.heading_size === 1" ng-style="{ color : (block.heading_color ? block.heading_color : black) }">{{ block.block_content }}</h1>
    <h2 ng-if="block.heading_size === 2" ng-style="{ color : (block.heading_color ? block.heading_color : black) }">{{ block.block_content }}</h2>
    <h3 ng-if="block.heading_size === 3" ng-style="{ color : (block.heading_color ? block.heading_color : black) }">{{ block.block_content }}</h3>
    <h4 ng-if="block.heading_size === 4" ng-style="{ color : (block.heading_color ? block.heading_color : black) }">{{ block.block_content }}</h4>
    <h5 ng-if="block.heading_size === 5" ng-style="{ color : (block.heading_color ? block.heading_color : black) }">{{ block.block_content }}</h5>
    <h6 ng-if="block.heading_size === 6" ng-style="{ color : (block.heading_color ? block.heading_color : black) }">{{ block.block_content }}</h6>
  </div>

  <div class="article-content-block" ng-if="block.block_type === vm.Constants.BLOCK_TYPE.PARAGRAPH">
    <p ng-bind-html="block.block_content | trustHtmlFilter"></p>
  </div>


  <div ng-if="block.block_type === vm.Constants.BLOCK_TYPE.IMAGE" class="ih-item square effect3 bottom_to_top">
    <a href="javascript:void(0)">
      <div class="img"><img ng-src="{{ block.url }}" alt="img"></div>
      <div class="info">
        <h3 ng-bind-html="block.img_caption | trustHtmlFilter"></h3>
        <p ng-bind-html="block.img_desc | trustHtmlFilter"></p>
      </div>
    </a>
  </div>

  <div class="article-content-block" ng-if="block.block_type === vm.Constants.BLOCK_TYPE.ALERT">
    <alert class="article-content-alert" type="{{ block.alert_style }}"><span ng-bind-html="block.message | trustHtmlFilter"></span></alert>
  </div>

  <div class="article-content-block" ng-if="block.block_type === vm.Constants.BLOCK_TYPE.LIST">
    <ul ng-if="block.list_style === vm.Constants.LIST_STYLE.UNORDERED">
      <li ng-repeat="item in block.block_content track by $index">{{ item }}</li>
    </ul>

    <ol ng-if="block.list_style === vm.Constants.LIST_STYLE.ORDERED">
      <li ng-repeat="item in block.block_content track by $index">{{ item }}</li>
    </ol>
  </div>

  <div class="article-content-block" ng-if="block.block_type === vm.Constants.BLOCK_TYPE.TABLE">
    <table class="table table-bordered">
      <thead>
        <tr ng-repeat="row in block.block_content track by $index" ng-if="$first">
          <th ng-repeat="col in row track by $index">{{ col }}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in block.block_content track by $index" ng-if="!$first">
          <th ng-repeat="col in row track by $index" scope="row" ng-if="$first">{{ col }}</th>
          <td ng-repeat="col in row track by $index" ng-if="!$first">{{ col }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<h5 class="article-content-ref-title">參考資料</h5>
<p class="article-content-ref" ng-show="vm.articleContent && vm.articleContent.refs">
  <span ng-repeat="ref in vm.articleContent.refs">{{ ref }}<br ng-show="!$last"></span>
</p>
