<!-- user panel -->
<section class="container-fluid">
  <!-- article category -->
  <section class="container-fluid submenu">
    <div class="container">

      <div class="pull-right">
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="搜尋問題">
              <span class="input-group-btn"><button class="btn btn-default" type="button"><i class="fa fa-search"></i></button></span>
            </div>
          </div>
        </form>
      </div>

      <ul class="nav nav-tabs">
        <li role="navigation" ng-class="{true: 'active'}[vm.category === category.name]" ng-repeat="category in vm.categoryList"><a ui-sref="askdoctor.list({ category : category.name })">{{category.text}}</a></li>
      </ul>
    </div>
  </section><!--end-->

  <div class="container">

    <ol class="breadcrumb hidden-xs text-right">
      <li><a ui-sref="home">醫創網</a></li>
      <li><a ui-sref="askdoctor.home">即時醫師問答</a></li>
      <li><a ui-sref="askdoctor.list({ category : vm.question.category })">{{vm.categoryName}}</a></li>
      <li class="active">問題</li>
    </ol>

  </div>

</section>

<!-- QA board  -->
<section class="container-fluid qa-board">
  <div class="container">
    <div class="col-lg-10 col-lg-offset-1">

      <div class="question-block">
        <!-- ask -->
        <div class="question-top" ng-class="{ false : 'noanswer' }[ vm.answer !== null ]">
          <div class="question-profile">
            <a href="#">
              <img src="images/userpic_3.jpg" alt="" class="img-circle" />{{vm.user.user_info.name ? vm.user.user_info.name : ''}}{{ (!vm.user.user_info.name && vm.user.username) ? vm.user.username : '' }}{{ (!vm.user.user_info.name && !vm.user.username) ? '使用者' : ''}}
            </a>
            <i ng-show="vm.user.user_info.gender === vm.GENDER_STRING.MALE" class="fa fa-mars"></i>
            <i ng-show="vm.user.user_info.gender === vm.GENDER_STRING.FEMALE" class="fa fa-venus"></i>
            <span>{{ vm.question.created_at ? (vm.question.created_at | relativeDate) : '' }}</span>
          </div>
          <p>
            {{vm.question.content_text}}
          </p>
        </div>

        <div class="answer-content collapse in" ng-show="vm.answer">
          <div class="question-profile">
            <a href="#" class="doc-profile">
              <img src="images/docpic.jpg" alt="" class="img-circle" />{{vm.doctor.user_info.name ? vm.doctor.user_info.name : ''}} 醫師
            </a>
            <i ng-show="vm.user.user_info.gender === vm.GENDER_STRING.MALE" class="fa fa-mars"></i>
            <i ng-show="vm.user.user_info.gender === vm.GENDER_STRING.FEMALE" class="fa fa-venus"></i>
            <span>
              {{vm.doctor.user_info.current_hospital}}  {{vm.categoryName}} <br />
              {{ vm.answer.created_at ? (vm.answer.created_at | relativeDate) : '' }}
            </span>
          </div>
          <p class="pink-style">{{vm.answer.answer_text}}</p>

          <!-- <div class="satisfy">滿意度 <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i></div> -->
        </div>

        <div class="question-content-tag" ng-show="vm.answer">
          <div class="satisfy pull-right" ng-show="vm.ratingList && vm.ratingList.length">
            {{ vm.overRatingValue ? vm.overRatingValue : '滿意度' }}
            <rating ng-model="vm.avgRating" max="vm.ratingMax" readonly="true" state-on="'fa fa-star'" state-off="'fa fa-star-o'" on-hover="vm.hoverOverRating(value)" on-leave="vm.overRatingValue = null"></rating>
          </div>
          <div class="pull-right" ng-show="!vm.ratingList || !vm.ratingList.length">
            目前尚無評分紀錄
          </div>
          <a href="#" ng-show="!vm.iAlreadyRated" class="btn round-btn" ng-click="vm.collapseMyRatingBar()">我要評分</a>
          <button ng-show="vm.iAlreadyRated" href="#" class="btn round-btn" disabled><strong>我的評分 {{vm.myRating}}</strong></button>
          <a href="#" class="btn round-btn">收藏</a>
          <!-- <a href="#" class="btn round-btn">訂閱</a> -->
        </div>

        <div class="my-rating-bar" collapse="vm.isMyRatingBarCollapsed" ng-show="vm.answer">
          <p ng-show="!authenticated" class="pink-style">請先登入來進行評分</p>
          <p ng-show="authenticated && vm.ratingStatusMessage.isShown" ng-class="{ true : 'blue-style-1', false : 'pink-style' }[ vm.ratingStatusMessage && vm.ratingStatusMessage.type === 'success' ]">{{ vm.ratingStatusMessage.message }}</p>
          <ul ng-show="authenticated && !vm.iAlreadyRated" class="list-inline list-unstyled">
            <li><rating ng-model="vm.myRating" max="vm.ratingMax" ng-click="vm.rateThisQuestion()" readonly="false" state-on="'fa fa-star'" state-off="'fa fa-star-o'"></rating></li>
            <li>我的評分{{vm.myRating}}</li>
            <!-- <li><a href="#" class="btn btn-sm round-btn">送出評分</a></li> -->
          </ul>
        </div>

      </div>

      <div class="row" ng-show="authenticated && account.user_type === 'DOCTOR' && !vm.answer">

        <div class="col-lg-2 col-sm-2">
          <div class="user-thumb-md">
            <img src="images/docpic.jpg" alt="" class="img-circle" />
            <p>
              {{ account && account.user_info && account.user_info.name ? account.user_info.name : '' }}醫師
            </p>
          </div>
        </div>

        <div class="col-lg-10 col-sm-10">

          <div role="tabpanel">
            <ul class="nav nav-pills ask-type" role="tablist">
              <li role="presentation" class="active"><a href=""role="tab">解答問題</a></li>
            </ul>
          </div>

          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="ask-question">
              <form name="vm.answerForm" novalidate>
                <textarea class="form-control" name="answerText" ng-model="vm.answerText" ng-minlength="vm.answerMin" required rows="4" placeholder="請輸入解答內容，字數至少要二十個字以上"></textarea>
                <p class="pull-left pink-style comment-error" ng-show="vm.answerSubmitted && vm.answerForm.answerText.$invalid">解答內容字數至少要二十個字以上</p>
                <p class="pull-left comment-error" ng-class="{ true : 'blue-style-1', false : 'pink-style' }[ vm.answerStatusMessage && vm.answerStatusMessage.type === 'success' ]" ng-show="!vm.answerSubmitted && vm.answerStatusMessage.isShown">{{ vm.answerStatusMessage.message }}</p>
                <div class="pull-right"><!-- <a href="#"><i class="fa fa-camera"></i></a> --> <button class="btn round-btn ask-btn" ng-click="vm.answerThisQuestion()" type="submit">送出解答</button></div>
              </form>
            </div>
          </div>
        </div>

      </div>

      <!-- comment list -->
      <div class="disqus-board" ng-show="vm.commentList">
        <div class="question-block" ng-repeat="comment in vm.commentList">
          <div class="question-top noanswer">
            <div class="question-profile">
              <a href="#">
                <img src="images/userpic_3.jpg" alt="" class="img-circle" />{{comment.user && comment.user.user_info ? comment.user.user_info.name : '' }}
              </a>
              <!-- <i class="fa fa-venus"></i> -->
              <span>{{ comment.created_at ? (comment.created_at | relativeDate) : '' }}</span>
            </div>
            <p>
              {{comment.comment_text}}
            </p>
          </div>
        </div>
      </div>

      <div class="row" ng-show="!authenticated || account.user_type !== 'DOCTOR' || vm.answer || vm.commentList">
        <div class="col-lg-2 col-sm-2">
          <div class="user-thumb-md">
            <a href="#" class="doc-profile">
              <img src="images/docpic.jpg" alt="" class="img-circle" />
            </a>
            <p ng-show="authenticated">
              {{ (vm.myAccount && vm.myAccount.user_info && vm.myAccount.user_info.name) ? vm.myAccount.user_info.name : vm.myAccount.username }}
            </p>
            <p ng-show="authenticated">
              <!-- age -->
              {{ vm.myAccount.user_info.age ? vm.myAccount.user_info.age + '歲' : ''}}
              <!-- gender -->
              <i ng-show="vm.myAccount.user_info.gender === vm.GENDER_STRING.MALE" class="fa fa-mars"></i>
              <i ng-show="vm.myAccount.user_info.gender === vm.GENDER_STRING.FEMALE" class="fa fa-venus"></i>
            </p>
            <p ng-show="!authenticated">
              訪客
            </p>
          </div>
        </div>

        <div class="col-lg-10 col-sm-10">

          <div role="tabpanel">
            <ul class="nav nav-pills ask-type" role="tablist">
              <li ><a href=""role="tab">發表評論</a></li>
            </ul>
          </div>

          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active">
              <form name="vm.commentForm" role="form" novalidate>
                <textarea class="form-control" ng-model="vm.commentText" name="commentText" rows="4" ng-show="authenticated" ng-minlength="vm.min" required placeholder="請輸入評論內容，字數至少要十個字以上"></textarea>
                <textarea ng-show="!authenticated" class="form-control" ng-show="!authenticated" rows="4" placeholder="請先登入以發表評論" disabled></textarea>
                <p class="pull-left pink-style comment-error" ng-show="vm.commentSubmitted && vm.commentForm.commentText.$invalid">評論內容字數至少要十個字以上</p>
                <p class="pull-left comment-error" ng-class="{ true : 'blue-style-1', false : 'pink-style' }[ vm.commentStatusMessage && vm.commentStatusMessage.type === 'success' ]" ng-show="!vm.commentSubmitted && vm.commentStatusMessage.isShown">{{ vm.commentStatusMessage.message }}</p>
                <div class="pull-right"><button class="btn round-btn ask-btn" ng-click="vm.commentThisQuestion()" type="submit" ng-disabled="!authenticated">送出評論</button></div>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
