<!-- user panel -->
<section class="container-fluid">
  <!-- article category -->
  <section class="container-fluid submenu">
    <div class="container">

      <div class="pull-right">
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="搜尋問題">
              <span class="input-group-btn"><button class="btn btn-default" type="button"><i class="fa fa-search"></i></button></span>
            </div>
          </div>
        </form>
      </div>

      <ul class="nav nav-tabs">
        <li role="navigation" ng-class="{true: 'active'}[vm.category === category.name]" ng-repeat="category in vm.categoryList"><a ui-sref="askdoctor.list({ category : category.name })">{{category.text}}</a></li>
      </ul>
    </div>
  </section><!--end-->

  <div class="container">

    <ol class="breadcrumb hidden-xs text-right">
      <li><a ui-sref="home">醫創網</a></li>
      <li><a ui-sref="askdoctor.list({ category : vm.question.category })">即時醫師問答</a></li>
      <li class="active">{{vm.categoryName}}</li>
    </ol>

  </div>

</section>

<!-- QA board  -->
<section class="container-fluid qa-board">
  <div class="container">
    <div class="col-lg-10 col-lg-offset-1">

      <div class="question-block">
        <!-- ask -->
        <div class="question-top" ng-class="{ false : 'noanswer' }[ vm.answer ]">
          <div class="question-profile">
            <a href="#">
              <img src="images/userpic_3.jpg" alt="" class="img-circle" />{{vm.user.user_info.name ? vm.user.user_info.name : '使用者'}}
            </a>
            <i class="fa fa-venus"></i>
            <span>24歲 宜蘭市 <br />45分前</span>
          </div>
          <p>
            {{vm.question.content_text}}
          </p>
        </div>

        <div class="answer-content collapse in" ng-show="vm.answer">
          <div class="question-profile">
            <a href="#" class="doc-profile">
              <img src="images/docpic.jpg" alt="" class="img-circle" />{{vm.doctor.user_info.name ? vm.doctor.user_info.name : ''}} 醫師
            </a>
            <span>{{vm.doctor.user_info.current_hospital}}  {{vm.categoryName}} <br />15分前</span>
          </div>
          <p class="pink-style">{{vm.answer.answer_text}}</p>

          <div class="satisfy">滿意度 <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i></div>
        </div>
      </div>

      <!--Q1-->
      <!-- <div class="question-block">
        <div class="question-top">
          <div class="question-profile">
            <a href="#">
              <img src="images/userpic.jpg" alt="" class="img-circle" />林靜宜
            </a>
            <i class="fa fa-venus"></i>
            <span>17歲 台北市 <br />15分前</span>
          </div>
          <p>最近胖很快，請問有沒有什麼快速地減肥方式？</p>
        </div>

        <div class="answer-content collapse in" id="answer">
          <div class="question-profile">
            <a href="#" class="doc-profile">
              <img src="images/docpic.jpg" alt="" class="img-circle" />陳威德 醫師
            </a>
            <span>仁愛醫院  皮膚科 <br />15分前</span>
          </div>
          <p class="pink-style">無氧訓練肌肉有助新陳代謝， 但配上有氧運動才瘦的更快。 每天游泳OR跑步30分鐘持續幾個月就能看到成效。當然飲食需謹慎挑選，不油炸，多蔬菜。有飽足感很重要。</p>
          <p class="pink-style">是的，或是喝點湯，反正就是不要單吃水果，且記得不要太晚吃哦! 水果盡量也不要選擇香蕉，熱量太高了 像我晚餐都是吃玉米(或喝湯，堅果)，蒟蒻，水果，吃完很有飽足感，若覺得蒟蒻沒味道，建議可以加些醬油跟哇沙米，會比較沒有味道 我一個月這樣吃，也沒有特別運動從69瘦到66</p>

          <div class="satisfy">滿意度 <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i></div>
        </div>
      </div> -->

      <div class="row" ng-show="authenticated && account.user_type === 'DOCTOR' && !vm.answer">

        <div class="col-lg-2 col-sm-2">
          <div class="user-thumb-md">
            <img src="images/docpic.jpg" alt="" class="img-circle" />
            <p>
              醫師
            </p>
          </div>
        </div>

        <div class="col-lg-10 col-sm-10">

          <div role="tabpanel">
            <ul class="nav nav-pills ask-type" role="tablist">
              <li role="presentation" class="active"><a href=""role="tab">解答問題</a></li>
            </ul>
          </div>

          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="ask-question">
              <form>
                <textarea class="form-control" rows="4" placeholder="請輸入解答內容，字數至少要二十個字以上"></textarea>
                <div class="pull-right"><!-- <a href="#"><i class="fa fa-camera"></i></a> --> <button class="btn round-btn ask-btn" type="button">送出解答</button></div>
              </form>
            </div>
          </div>
        </div>

      </div>

      <!-- comment list -->
      <div class="disqus-board" ng-show="vm.commentList">
        <div class="question-block" ng-repeat="comment in vm.commentList">
          <div class="question-top noanswer">
            <div class="question-profile">
              <a href="#">
                <img src="images/userpic_3.jpg" alt="" class="img-circle" />{{comment.commenter_id}}
              </a>
              <i class="fa fa-venus"></i>
              <span>{{comment.created_at}}</span>
            </div>
            <p>
              {{comment.comment_text}}
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-2 col-sm-2">
          <div class="user-thumb-md">
            <a href="#" class="doc-profile">
              <img src="images/docpic.jpg" alt="" class="img-circle" />
            </a>
            <p ng-show="authenticated">
              <i class="fa fa-venus"></i>
              <span>24歲 宜蘭市</span>
            </p>
            <p ng-show="!authenticated">
              訪客
            </p>
          </div>
        </div>

        <div class="col-lg-10 col-sm-10">

          <div role="tabpanel">
            <ul class="nav nav-pills ask-type" role="tablist">
              <li ><a href=""role="tab">發表評論</a></li>
            </ul>
          </div>

          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="ask-question">
              <form>
                <textarea class="form-control" rows="4" ng-show="authenticated" placeholder="請輸入評論內容，字數至少要十個字以上"></textarea>
                <textarea ng-show="!authenticated" class="form-control" ng-show="!authenticated" rows="4" placeholder="請先登入以發表評論" disabled></textarea>
                <div class="pull-right"><!-- <a href="#"><i class="fa fa-camera"></i></a> --> <button class="btn round-btn ask-btn" type="button" ng-disabled="!authenticated">送出評論</button></div>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
