<section class="container-fluid login-public parallax-container parallax-background public-login-background" parallax-background parallax-ratio="0.4">

  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 text-center ttl">
        <div class="login-panel">
          <h2>忘記密碼</h2>
          <h1>請輸入您的使用者帳號</h1>
          <h1>以及註冊時填寫的信箱</h1>
        </div>
      </div>
    </div>

    <!---->
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4 text-center">
        <div class="login-panel">

          <p class="arr-hint">輸入帳號和信箱</p>

          <form name="passwordResetForm" role="form" ng-submit="vm.resetPassword()" novalidate>
            <div class="combine-form">
              <div class="form-group validation-form-group">
                <label for="username" class="sr-only">使用者帳號</label>
                <i ng-show="passwordResetForm.username.$invalid && vm.submitted" class="glyphicon glyphicon-question-sign invalid-input-sign"></i>
                <input type="text" class="form-control input-lg" name="username" ng-model="vm.credentials.username" placeholder="使用者帳號" required>
                <!-- <span class="glyphicon glyphicon-warning-sign form-control-feedback" style="color:#c62828"></span> -->
              </div>
              <div class="form-group validation-form-group">
                <label for="email" class="sr-only">信箱</label>
                <i ng-show="passwordResetForm.email.$invalid && vm.submitted" class="glyphicon glyphicon-question-sign invalid-input-sign"></i>
                <input type="email" class="form-control input-lg" name="email" ng-model="vm.credentials.email" placeholder="信箱" required>
              </div>
            </div>
            <button type="submit" class="btn btn-info btn-lg btn-block" ui-sref="account.passwordResetSuccess">重置密碼</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</section>
