<section class="container-fluid login-doctor parallax-container parallax-background doctor-login-background" parallax-background parallax-ratio="0.4">

  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 text-center ttl">
        <div class="login-panel">
          <h2>我是醫生</h2>
          <h1>登入醫創網</h1>
        </div>
      </div>
    </div>

    <!---->
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4 text-center">
        <div class="login-panel">

          <alert ng-show="vm.msg.isShown" type="{{vm.msg.type}}" close="vm.hideMessage()">{{vm.msg.text}}</alert>
          <alert ng-show="signInForm.$invalid && vm.submitted" type="warning" close="vm.resetForm()">請輸入所需欄位</alert>

          <p class="arr-hint">使用帳號登入</p>

          <form name="signInForm" role="form" ng-submit="vm.signIn()" novalidate>
            <div class="combine-form">
              <div class="form-group validation-form-group">
                <label for="username" class="sr-only">使用者帳號</label>
                <i ng-show="signInForm.username.$invalid && vm.submitted" class="glyphicon glyphicon-question-sign invalid-input-sign"></i>
                <input type="text" class="form-control input-lg" name="username" ng-model="vm.credentials.username" placeholder="使用者帳號" required>
              </div>
              <div class="form-group validation-form-group">
                <label for="password" class="sr-only">密碼</label>
                <i ng-show="signInForm.password.$invalid && vm.submitted" class="glyphicon glyphicon-question-sign invalid-input-sign"></i>
                <input type="password" class="form-control input-lg" name="password" ng-model="vm.credentials.password" placeholder="密碼" required>
              </div>
            </div>
            <button type="submit" class="btn btn-info btn-lg btn-block">登入</button>
          </form>

          <p>還沒有帳號，<a ui-sref="account.signup.doctor" class="blue-style-2">點此註冊</a> ｜ <a href="javascript:void(0)" class="blue-style-2">忘記密碼？</a></p>
        </div>
      </div>
    </div>

  </div>
</section>