<section class="container-fluid login-doctor doctor-signup parallax-container" style="background-image: url('images/login-doctor-bg.jpg');">

  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 text-center ttl">
        <div class="login-panel">
          <h1>加入醫創網的好處</h1>
        </div>

        <!--benefit start-->
        <div id="carousel-example-generic" class="carousel slide benefit">
          <carousel class="carousel-inner" interval="3000">
            <slide active="true">
              <div class="item" style="margin-bottom:30px;"><blockquote sytle="margin-bottom:50px;"><span>享受更高收入，增進生活品質；時間彈性，有手機或電腦即可與民眾互動問答</span></blockquote></div>
            </slide>
            <slide active="false">
              <div class="item" style="margin-bottom:30px;"><blockquote><span>讓你變得更快樂，因幫助數百萬人而變得更快樂</span></blockquote></div>
            </slide>
            <slide active="false">
              <div class="item" style="margin-bottom:30px;"><blockquote><span>成長執業業務讓更多人了解你的專業，未來引入中國市場將有更高的線上病人數</span></blockquote></div>
            </slide>
            <slide active="false">
              <div class="item" style="margin-bottom:30px;"><blockquote><span>成為下一個健康互動時代的其中一員</span></blockquote></div>
            </slide>
          </carousel>
        </div>
      </div>
    </div>

    <!---->
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <div class="redbar">以下您所填寫的醫師資料需經過審核，醫師資料將為您保密</div>

        <div class="login-panel">
          <form role="form">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <h3>醫師基本資料</h3>
              <div class="combine-form">
                <div class="form-group">
                  <label for="Name" class="sr-only">名字</label>
                  <input type="name" class="form-control input-lg" id="Name" placeholder="名字">
                </div>
                <div class="form-group">
                  <label for="School" class="sr-only">畢業學校</label>
                  <input type="data" class="form-control input-lg" id="School" placeholder="畢業學校">
                </div>
                <div class="form-group">
                  <label for="Hospital" class="sr-only">執業醫院/診所</label>
                  <input type="data" class="form-control input-lg" id="Hospital" placeholder="執業醫院/診所">
                </div>
                <div class="form-group">
                  <label for="Title" class="sr-only">科別/職稱</label>
                  <input type="data" class="form-control input-lg" id="Title" placeholder="科別/職稱">
                </div>
                <div class="form-group">
                  <label for="Subject" class="sr-only">專業領域</label>
                  <input type="data" class="form-control input-lg" id="Subject" placeholder="專業領域">
                </div>
              </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
              <h3>帳號資料</h3>

              <div class="combine-form">
                <div class="form-group">
                  <label for="Email" class="sr-only">信箱</label>
                  <input type="email" class="form-control input-lg" id="Email" placeholder="信箱">
                </div>
                <div class="form-group">
                  <label for="Email" class="sr-only">再次輸入信箱</label>
                  <input type="email" class="form-control input-lg" id="Email" placeholder="再次輸入信箱">
                </div>
                <div class="form-group">
                  <label for="Password" class="sr-only">密碼</label>
                  <input type="password" class="form-control input-lg" id="Password" placeholder="密碼">
                </div>
                <div class="form-group">
                  <label for="Password-again" class="sr-only">再次輸入密碼</label>
                  <input type="password" class="form-control input-lg" id="Password-again" placeholder="再次輸入密碼">
                </div>
                <div class="form-group">
                  <label for="FB" class="sr-only">臉書帳號</label>
                  <input type="data" class="form-control input-lg" id="FB" placeholder="臉書帳號（非必填）">
                </div>
              </div>
            </div>

            <!---->

            <div class="center-block">
              <label class="checkbox-inline">
                <p><input type="checkbox" id="inlineCheckbox1" value="agreement"> 我已同意<a href="doctor-signup.html" class="blue-style-2">醫創網的使用者同意書</a></p>
              </label>
            </div>

            <button type="submit" class="btn btn-info btn-lg col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-xs-12">註冊完成</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</section>

<!-- <h1>Doctor Sign Up Form!</h1>
<form ng-submit="vm.signUp()">
  <div class="form-group">
    <label for="usernameInput">Username</label>
    <input type="text" class="form-control" id="usernameInput" ng-model="vm.doctor.username">
  </div>
  <div class="form-group">
    <label for="passwordInput">Password</label>
    <input type="password" class="form-control" id="passwordInput" ng-model="vm.doctor.password">
  </div>
  <div class="form-group">
    <label for="confirmPasswordInput">Confirm Password</label>
    <input type="password" class="form-control" id="confirmPasswordInput" ng-model="vm.doctor.confirmPassword">
  </div>
  <div class="form-group">
    <label for="emailInput">Email</label>
    <input type="email" class="form-control" id="emailInput" ng-model="vm.doctor.email">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>

  <h2>Doctor Info</h2>
  <div class="form-group">
    <label for="nameInput">Name</label>
    <input type="text" class="form-control" id="nameInput" ng-model="vm.doctor.user_info.name">
  </div>
  <div class="form-group">
    <label for="phoneNumberInput">Phone Number</label>
    <input type="text" class="form-control" id="phoneNumberInput" ng-model="vm.doctor.user_info.phone_number">
  </div>
  <div class="form-group">
    <label for="addressInput">Address</label>
    <input type="text" class="form-control" id="addressInput" ng-model="vm.doctor.user_info.address">
  </div>
  <div class="form-group">
    <label for="categoryInput">Category</label>
    <input type="text" class="form-control" id="categoryInput" ng-model="vm.doctor.user_info.category">
  </div>
  <div class="form-group">
    <label for="currentHospitalInput">Current Hospital</label>
    <input type="text" class="form-control" id="currentHospitalInput" ng-model="vm.doctor.user_info.current_hospital">
  </div>
  <div class="form-group">
    <label for="titleInput">Title</label>
    <input type="text" class="form-control" id="titleInput" ng-model="vm.doctor.user_info.title">
  </div>
  <div class="form-group">
    <label for="collegeInput">College</label>
    <input type="text" class="form-control" id="collegeInput" ng-model="vm.doctor.user_info.college">
  </div>
  <div class="form-group">
    <label for="specialtyInput">Specialty</label>
    <input type="text" class="form-control" id="specialtyInput" ng-model="vm.doctor.user_info.specialty">
  </div>
  <div class="form-group">
    <label for="availableTimeInput">Available Time</label>
    <input type="text" class="form-control" id="availableTimeInput" ng-model="vm.doctor.user_info.available_time">
  </div>
</form> -->