<section class="container-fluid login-doctor doctor-signup parallax-container parallax-background doctor-login-background" parallax-background parallax-ratio="0.2">

  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 text-center ttl">
        <div class="login-panel hidden-sm hidden-xs">
          <h1>加入醫創網的好處</h1>
        </div>

        <!--benefit start-->
        <div id="carousel-example-generic" class="carousel slide benefit hidden-sm hidden-xs">
          <carousel class="carousel-inner" interval="3000">
            <slide active="true">
              <div class="item" style="margin-bottom:30px;"><blockquote sytle="margin-bottom:50px;"><span>享受更高收入，增進生活品質；時間彈性，有手機或電腦即可與民眾互動問答</span></blockquote></div>
            </slide>
            <slide active="false">
              <div class="item" style="margin-bottom:30px;"><blockquote><span>讓你變得更快樂，因幫助數百萬人而變得更快樂</span></blockquote></div>
            </slide>
            <slide active="false">
              <div class="item" style="margin-bottom:30px;"><blockquote><span>成長執業業務讓更多人了解你的專業，未來引入中國市場將有更高的線上病人數</span></blockquote></div>
            </slide>
            <slide active="false">
              <div class="item" style="margin-bottom:30px;"><blockquote><span>成為下一個健康互動時代的其中一員</span></blockquote></div>
            </slide>
          </carousel>
        </div>
      </div>
    </div>

    <!---->
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">

        <alert ng-show="vm.msg.isShown" type="{{vm.msg.type}}" close="vm.hideMessage()">{{vm.msg.text}}</alert>

        <alert ng-show="signUpForm.$invalid && vm.submitted" type="warning" close="vm.resetForm()">請輸入所需欄位</alert>

        <alert ng-show="!vm.agreed && !signUpForm.$invalid && vm.submitted" type="warning" close="vm.resetForm()">請勾選同意使用者同意書</alert>

        <div class="redbar">以下您所填寫的醫師資料需經過審核，醫師資料將為您保密</div>

        <div class="login-panel">
          <form name="signUpForm" role="form" ng-submit="vm.signUp()" novalidate>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <h3>醫師基本資料</h3>
              <div class="combine-form">
                <div class="form-group validation-form-group">
                  <label for="college" class="sr-only">畢業學校</label>
                  <i ng-show="signUpForm.college.$invalid && vm.submitted" class="glyphicon glyphicon-warning-sign invalid-input-sign"></i>
                  <input type="text" class="form-control input-lg" name="college" ng-model="vm.doctor.user_info.college" placeholder="畢業學校" required>
                </div>
                <div class="form-group validation-form-group">
                  <label for="hospital" class="sr-only">執業醫院/診所</label>
                  <i ng-show="signUpForm.hospital.$invalid && vm.submitted" class="glyphicon glyphicon-warning-sign invalid-input-sign"></i>
                  <input type="text" class="form-control input-lg" name="hospital" ng-model="vm.doctor.user_info.current_hospital" placeholder="執業醫院/診所" required>
                </div>
                <div class="form-group validation-form-group">
                  <label for="title" class="sr-only">科別/職稱</label>
                  <i ng-show="signUpForm.title.$invalid && vm.submitted" class="glyphicon glyphicon-warning-sign invalid-input-sign"></i>
                  <input type="text" class="form-control input-lg" name="title" ng-model="vm.doctor.user_info.title" placeholder="科別/職稱" required>
                </div>
                <div class="form-group validation-form-group">
                  <label for="subject" class="sr-only">專業領域</label>
                  <i ng-show="signUpForm.subject.$invalid && vm.submitted" class="glyphicon glyphicon-warning-sign invalid-input-sign"></i>
                  <input type="text" class="form-control input-lg" name="subject" ng-model="vm.doctor.user_info.specialty" placeholder="專業領域" required>
                </div>
                <div class="form-group validation-form-group">
                  <label for="availableTime" class="sr-only">看診時間</label>
                  <i ng-show="signUpForm.availableTime.$invalid && vm.submitted" class="glyphicon glyphicon-warning-sign invalid-input-sign"></i>
                  <input type="text" class="form-control input-lg" name="availableTime" ng-model="vm.doctor.user_info.available_time" placeholder="看診時間" required>
                </div>
              </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <h3>帳號資料</h3>

              <div class="combine-form">
                <div class="form-group validation-form-group">
                  <label for="username" class="sr-only">使用者名稱</label>
                  <i ng-show="signUpForm.username.$invalid && vm.submitted" class="glyphicon glyphicon-warning-sign invalid-input-sign"></i>
                  <input type="text" class="form-control input-lg" name="username" ng-model="vm.doctor.username" placeholder="使用者名稱" required>
                </div>
                <div class="form-group validation-form-group">
                  <label for="email" class="sr-only">信箱</label>
                  <i ng-show="signUpForm.email.$invalid && vm.submitted" class="glyphicon glyphicon-warning-sign invalid-input-sign"></i>
                  <input type="email" class="form-control input-lg" name="email" ng-model="vm.doctor.email" placeholder="信箱" required>
                </div>
                <div class="form-group validation-form-group">
                  <label for="password" class="sr-only">密碼</label>
                  <i ng-show="signUpForm.password.$invalid && vm.submitted" class="glyphicon glyphicon-warning-sign invalid-input-sign"></i>
                  <input type="password" class="form-control input-lg" name="password" ng-model="vm.doctor.password" placeholder="密碼" required>
                </div>
                <div class="form-group validation-form-group">
                  <label for="passwordConfirm" class="sr-only">再次輸入密碼</label>
                  <i ng-show="signUpForm.passwordConfirm.$invalid && vm.submitted" class="glyphicon glyphicon-warning-sign invalid-input-sign"></i>
                  <input type="password" class="form-control input-lg" name="passwordConfirm" ng-model="vm.doctor.confirmPassword" placeholder="再次輸入密碼" required>
                </div>
                <div class="form-group validation-form-group">
                  <label for="name" class="sr-only">名字</label>
                  <i ng-show="signUpForm.name.$invalid && vm.submitted" class="glyphicon glyphicon-warning-sign invalid-input-sign"></i>
                  <input type="text" class="form-control input-lg" name="name" ng-model="vm.doctor.user_info.name" placeholder="名字" required>
                </div>
                <!-- <div class="form-group validation-form-group">
                  <label for="FB" class="sr-only">臉書帳號</label>
                  <input type="data" class="form-control input-lg" id="FB" ng-model="vm.doctor.user_info.facebook_account" placeholder="臉書帳號（非必填）">
                </div>
                <div class="form-group validation-form-group">
                  <label for="Blog" class="sr-only">部落格網址</label>
                  <input type="data" class="form-control input-lg" id="Blog" ng-model="vm.doctor.user_info.blog_url" placeholder="部落格網址（非必填）">
                </div> -->
              </div>
            </div>

            <!---->

            <div class="center-block">
              <label class="form-group checkbox-inline">
                <p><input type="checkbox" name="testbox" ng-model="vm.agreed"> 我已同意<a href="javascript:void(0)" ng-click="vm.openAgreementModal()" class="blue-style-2">醫創網的使用者同意書</a></p>
              </label>
            </div>

            <button type="submit" class="btn btn-info btn-lg col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-xs-12">註冊完成</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</section>
