<section class="container-fluid login-public parallax-container" style="background-image: url('images/login-public-bg.jpg');">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 col-md-12 text-center ttl">

        <div class="login-panel">
          <h2>我是一般民眾</h2>
          <h1>註冊會員後，我可以馬上</h1>
        </div>

        <!--benefit start-->
        <div id="carousel-example-generic" class="carousel slide benefit">
          <carousel class="carousel-inner" interval="3000">
            <slide active="true">
              <div class="item" style="margin-bottom:30px;"><blockquote sytle="margin-bottom:50px;"><span>尋找評價優良的醫生</span></blockquote></div>
            </slide>
            <slide active="false">
              <div class="item" style="margin-bottom:30px;"><blockquote><span>醫療問題醫師即時線上回答</span></blockquote></div>
            </slide>
            <slide active="false">
              <div class="item" style="margin-bottom:30px;"><blockquote><span>由專業醫師把關的醫學文章</span></blockquote></div>
            </slide>
          </carousel>

        </div>
      </div>
    </div>

    <!---->

    <div class="row">
      <div class="col-lg-4 col-lg-offset-4 text-center">

        <div class="login-panel">
          <button type="submit" class="btn btn-fb btn-lg btn-block"><i class="fa fa-facebook-square"></i> 使用Facebook註冊</button>

          <p class="arr-hint">或使用信箱註冊</p>

          <form role="form" ng-submit="vm.signUp()">
            <div class="combine-form">
              <div class="form-group">
                <label for="Username" class="sr-only">使用者帳號</label>
                <input type="text" class="form-control input-lg" id="Username" ng-model="vm.credentials.username" placeholder="使用者帳號">
              </div>
              <div class="form-group">
                <label for="Email" class="sr-only">電子郵件</label>
                <input type="email" class="form-control input-lg" id="Email" ng-model="vm.credentials.email" placeholder="信箱">
              </div>
              <div class="form-group">
                <label for="Password" class="sr-only">密碼</label>
                <input type="password" class="form-control input-lg" id="Password" ng-model="vm.credentials.password" placeholder="密碼">
              </div>
              <div class="form-group">
                <label for="Password-again" class="sr-only">再次輸入密碼</label>
                <input type="password" class="form-control input-lg" id="Password-again" ng-model="vm.credentials.confirmPassword" placeholder="再次輸入密碼">
              </div>
            </div>
            <!---->

            <label class="checkbox-inline">
              <p><input type="checkbox" id="inlineCheckbox1" value="agreement"> 我已同意<a href="doctor-signup.html" class="blue-style-2">醫創網的使用者同意書</a></p>
            </label>

            <button type="submit" class="btn btn-info btn-lg btn-block">註冊完成</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</section>
