<!-- Basic User Information -->
<section class="container-fluid profile-panel">
  <div class="container">

    <ol class="breadcrumb hidden-xs text-right">
      <li><a ui-sref="home" ui-sref-opts="{ reload : true }">醫創網</a></li>
      <li class="active">外科</li>
      <li>陳威德醫師</li>
    </ol>

    <div class="row">
      <div class="col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 col-xs-12">
        <div class="user-thumb-lg">
          <img src="images/docpic.jpg" alt="" class="img-circle pull-left" />
          <h3><strong>陳威德</strong> 醫師</h3>
          <p>
            主治醫師  皮膚科<br />
            問答平均 <span class="satisfy"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i></span> <span>共729評價</span>
          </p>
        </div>
      </div>

      <div class="col-lg-7 col-md-7 col-xs-12">
        <div class="doctor-profile">
          <div class="tab-content">
	        <div role="tabpanel" class="tab-pane active">
	      	  <div class="table-responsive">
		        <table class="table">
		          <tbody>
		            <tr>
		              <th>執業醫院/診所</th>
		              <td>臺大醫院</td>
		            </tr>
		            <tr>
		              <th>執業地址</th>
		              <td>台北市</td>
		            </tr>
		            <tr>
		              <th>實體看診時間</th>
		              <td>星期二下午五點</td>
		            </tr>
		            <tr>
		              <th>醫師信箱</th>
		              <td><a href="#">prodoctor@gmail.com</a></td>
		            </tr>
		          </tbody>
		        </table>
		      </div>
		    </div>
	      </div>
	    </div>
      </div>

    </div>

  </div>
</section>

<!-- profile tab  -->
<section class="container-fluid profile-board">

  <div class="container">
  	<div class="tab-content">
	  <div role="tabpanel" class="tab-pane active">

	    <p class="history-top">共有<span class="pink-style">{{vm.numOfArticles}}則</span>發表文章</p>

                <div class="table-responsive" ng-show="vm.numOfArticles">
                  <table class="table table-hover">
                    <tbody>
                      <tr class='clickable-row' ng-repeat="article in vm.articleList | limitTo : vm.articlePageLimit : vm.articleIndex">
                        <th>{{article.created_at}}</th>
                        <td><span class="blue-style-1">[{{article.category}}]</span> {{article.title}}</td>
                        <td>by <a href="profile-doctor.html">{{vm.doctorName}} 醫師</a> </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <button type="button" class="btn btn-default btn-lg btn-block" ng-show="vm.displayShowMoreButton" ng-click="vm.showMoreArticle()">顯示更多發表文章</button>
                <button type="button" class="btn btn-default btn-lg btn-block" disabled ng-show="!vm.displayShowMoreButton">沒有更多發表文章</button>

	  </div>
	</div>
  </div>

  <div class="container">
  	<div class="tab-content">
	  <div role="tabpanel" class="tab-pane active">

	    <p class="history-top">共有<span class="pink-style">{{vm.numOfQuestions}}則</span>問答記錄</p>

                <div class="table-responsive" ng-show="vm.numOfQuestions">
                  <table class="table table-hover">
                    <tbody>
                      <tr class='clickable-row' ng-repeat="question in vm.questionList | limitTo : vm.questionPageLimit : vm.questionIndex">
                        <th>1小時前</th>
                        <td><span class="blue-style-1">Q</span> {{question.content_text}}</td>
                        <td><span class="pink-style">A</span> {{question.answer.answer_text}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <button type="button" class="btn btn-default btn-lg btn-block" ng-show="vm.displayShowMoreButton" ng-click="vm.showMoreQuestion()">顯示更多問答紀錄</button>
                <button type="button" class="btn btn-default btn-lg btn-block" disabled ng-show="!vm.displayShowMoreButton">沒有更多問答紀錄</button>

	  </div>
	</div>
  </div>
</section>