<!-- user panel -->
<section class="container-fluid doctor-list-background">
  <!-- doctor category -->
  <section class="container-fluid submenu">
    <div class="container">

      <div class="pull-right">
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <div class="input-group">
              <input ng-model="vm.searchText" type="text" class="form-control" placeholder="搜尋醫師">
              <span class="input-group-btn"><button ng-click="vm.search(vm.searchText)" class="btn btn-default" type="button"><i class="fa fa-search"></i></button></span>
            </div>
          </div>
        </form>
      </div>

	    <ul class="nav nav-tabs">
        <li role="navigation" ng-class="{true: 'active'}[vm.category === category.name]" ng-repeat="category in vm.categoryList"><a ui-sref="doctor.list({ category : category.name })">{{category.text}}</a></li>
      </ul>
    </div>
  </section>
  <!--end-->

  <div class="container">
    <ol class="breadcrumb hidden-xs text-right">
      <li><a ui-sref="home" ui-sref-opts="{ reload : true }">醫創網</a></li>
      <li class="active">駐站醫師</li>
    </ol>
  </div>

</section>

<section class="container-fluid ad-recommend doctor-list-background" ng-show="vm.numOfDoctors">
  <div class="container clearfix">
    <h3 class="pink-style search-title" ng-show="vm.updatedSearchText">搜尋 {{vm.updatedSearchText}} 結果: 共{{vm.filteredDoctorList.length}}位駐站醫師</h3>
    <!-- From left and right -->
    <div class="row" style="margin: 50px 0;" ng-repeat="doctorRow in vm.doctorGrid">
      <div ng-show="doctorRow[0]" ui-sref="doctor.detail({ category : doctorRow[0].user_info.category, doctorId : doctorRow[0].account_id })" class="col-sm-12 col-md-3 col-lg-3">

        <!-- normal -->
        <div class="ih-item circle effect13 from_left_and_right"><a href="javascript:void(0)">
            <div class="img"><img ng-src="{{ (doctorRow[0].user_info.sticker_url) ? doctorRow[0].user_info.sticker_url : 'images/default-doctor-sticker.png'}}" alt="img"></div>
            <div class="info">
              <div class="info-back">
                <h3>{{doctorRow[0].user_info.name}} 醫師</h3>
                <p>
                  {{doctorRow[0].user_info.current_hospital}} {{doctorRow[0].categoryName}} <br>
                  點擊觀看詳細資料
                </p>
              </div>
            </div>
          </a>
        </div>
        <!-- end normal -->

      </div>

      <div ng-show="doctorRow[1]" ui-sref="doctor.detail({ category : doctorRow[1].user_info.category, doctorId : doctorRow[1].account_id })" class="col-sm-12 col-md-3 col-lg-3">

        <!-- normal -->
        <div class="ih-item circle effect13 from_left_and_right"><a href="javascript:void(0)">
            <div class="img"><img ng-src="{{ (doctorRow[1].user_info.sticker_url) ? doctorRow[1].user_info.sticker_url : 'images/default-doctor-sticker.png'}}" alt="img"></div>
            <div class="info">
              <div class="info-back">
                <h3>{{doctorRow[1].user_info.name}} 醫師</h3>
                <p>{{doctorRow[1].user_info.current_hospital}} {{doctorRow[1].categoryName}} <br>
                  點擊觀看詳細資料
                </p>
              </div>
            </div>
          </a>
        </div>
        <!-- end normal -->

      </div>

      <div ng-show="doctorRow[2]" ui-sref="doctor.detail({ category : doctorRow[2].user_info.category, doctorId : doctorRow[2].account_id })" class="col-sm-12 col-md-3 col-lg-3">

        <!-- normal -->
        <div class="ih-item circle effect13 from_left_and_right"><a href="javascript:void(0)">
            <div class="img"><img ng-src="{{ (doctorRow[2].user_info.sticker_url) ? doctorRow[2].user_info.sticker_url : 'images/default-doctor-sticker.png'}}" alt="img"></div>
            <div class="info">
              <div class="info-back">
                <h3>{{doctorRow[2].user_info.name}} 醫師</h3>
                <p>{{doctorRow[2].user_info.current_hospital}} {{doctorRow[2].categoryName}} <br>
                  點擊觀看詳細資料
                </p>
              </div>
            </div>
          </a>
        </div>
        <!-- end normal -->

      </div>

      <div ng-show="doctorRow[3]" ui-sref="doctor.detail({ category : doctorRow[3].user_info.category, doctorId : doctorRow[3].account_id })" class="col-sm-12 col-md-3 col-lg-3">

        <!-- normal -->
        <div class="ih-item circle effect13 from_left_and_right">
          <a href="javascript:void(0)">
            <div class="img"><img ng-src="{{ (doctorRow[3].user_info.sticker_url) ? doctorRow[3].user_info.sticker_url : 'images/default-doctor-sticker.png'}}" alt="img"></div>
            <div class="info">
              <div class="info-back">
                <h3>{{doctorRow[3].user_info.name}} 醫師</h3>
                <p>{{doctorRow[3].user_info.current_hospital}} {{doctorRow[3].categoryName}} <br>
                  點擊觀看詳細資料
                </p>
              </div>
            </div>
          </a>
        </div>
        <!-- end normal -->

      </div>

    </div>

    <!-- <div class="row doctor-row" ng-repeat="doctorRow in vm.doctorList">
      <div class="col-lg-6 col-md-6 col-xs-12">
        <ul class="doctor-list">
          <li ng-show="doctorRow[0]" ui-sref="doctor.detail({ category : doctorRow[0].user_info.category, doctorId : doctorRow[0].account_id })"><a href="javascript:void(0)"><img src="images/docpic.jpg" alt="" class="img-circle" /><p>{{doctorRow[0].user_info.name}}</p></a></li>
          <li ng-show="doctorRow[1]" ui-sref="doctor.detail({ category : doctorRow[1].user_info.category, doctorId : doctorRow[1].account_id })"><a href="javascript:void(0)"><img src="images/docpic_2.jpg" alt="" class="img-circle" /><p>{{doctorRow[1].user_info.name}}</p></a></li>
          <li ng-show="doctorRow[2]" ui-sref="doctor.detail({ category : doctorRow[2].user_info.category, doctorId : doctorRow[2].account_id })"><a href="javascript:void(0)"><img src="images/docpic.jpg" alt="" class="img-circle" /><p>{{doctorRow[2].user_info.name}}</p></a></li>
        </ul>
      </div>

      <div class="col-lg-6 col-md-6 col-xs-12">
        <ul class="doctor-list">
          <li ng-show="doctorRow[3]" ui-sref="doctor.detail({ category : doctorRow[3].user_info.category, doctorId : doctorRow[3].account_id })"><a href="javascript:void(0)"><img src="images/docpic.jpg" alt="" class="img-circle" /><p>{{doctorRow[3].user_info.name}}</p></a></li>
          <li ng-show="doctorRow[4]" ui-sref="doctor.detail({ category : doctorRow[4].user_info.category, doctorId : doctorRow[4].account_id })"><a href="javascript:void(0)"><img src="images/docpic_2.jpg" alt="" class="img-circle" /><p>{{doctorRow[4].user_info.name}}</p></a></li>
          <li ng-show="doctorRow[5]" ui-sref="doctor.detail({ category : doctorRow[5].user_info.category, doctorId : doctorRow[5].account_id })"><a href="javascript:void(0)"><img src="images/docpic.jpg" alt="" class="img-circle" /><p>{{doctorRow[5].user_info.name}}</p></a></li>
        </ul>
      </div>
    </div> -->

  </div>

</section>
