<div role="tabpanel">
  <ul class="nav nav-pills profile-tab">
    <li class="active"><a ui-sref="account.me.doctor.detail" ui-sref-opts="{reload : true}">個人資料</a></li>
    <li><a ui-sref="account.me.doctor.answer">問答紀錄</a></li>
    <li><a ui-sref="account.me.doctor.article">發表文章</a></li>
  </ul>
</div>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane active">

    <div class="pull-right edit"><a class="btn round-btn" ng-click="vm.updateMyInfo()" role="button">儲存資料</a></div>

    <div class="table-responsive">
      <table class="table">
        <tbody>
          <tr>
            <th>執業醫院/診所</th>
            <td><input type="text" class="form-control input-md" id="Username" ng-model="vm.doctor.user_info.current_hospital"></td>
          </tr>
          <tr>
            <th>執業地址</th>
            <td><input type="text" class="form-control input-md" id="Username" ng-model="vm.doctor.user_info.address"></td>
          </tr>
          <tr>
            <th>實體看診時間</th>
            <td><input type="text" class="form-control input-md" id="Username" ng-model="vm.doctor.user_info.available_time"></td>
          </tr>
          <tr>
            <th>醫師信箱</th>
            <td><a href="#">{{vm.doctor.email}}</a></td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
