<div role="tabpanel">
  <ul class="nav nav-pills profile-tab">
    <li><a ui-sref="account.me.doctor.detail" ui-sref-opts="{reload : true}">個人資料</a></li>
    <li><a ui-sref="account.me.doctor.answer">問答紀錄</a></li>
    <li class="active"><a ui-sref="account.me.doctor.article">發表文章</a></li>
  </ul>
</div>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane active">

    <p class="history-top">共有<span class="pink-style">{{vm.numberOfArticle}}則</span>發表文章</p>

    <div class="table-responsive" ng-show="vm.numberOfArticle">
      <table class="table table-hover">
        <tbody>
          <tr class='clickable-row' ng-repeat="article in vm.articleList | limitTo : vm.pageLimit : vm.index">
            <th>{{article.created_at}}</th>
            <td><span class="blue-style-1">[{{article.category}}]</span> {{article.title}}</td>
            <td>by <a href="profile-doctor.html">{{vm.doctorName}} 醫師</a> </td>
          </tr>
        </tbody>
      </table>
    </div>

    <button type="button" class="btn btn-default btn-lg btn-block" ng-show="vm.displayShowMoreButton" ng-click="vm.showMoreArticle()">顯示更多問答紀錄</button>
    <button type="button" class="btn btn-default btn-lg btn-block" disabled ng-show="!vm.displayShowMoreButton">沒有更多問答紀錄</button>

  </div>
</div>
