<div role="tabpanel">
  <ul class="nav nav-pills profile-tab">
    <li><a ui-sref="account.me.user.detail" ui-sref-opts="{reload : true}">個人資料</a></li>
    <li><a ui-sref="account.me.user.question">問答紀錄</a></li>
    <li class="active"><a ui-sref="account.me.user.favArticle">收藏文章</a></li>
    <li><a ui-sref="account.me.user.favQA">收藏問答</a></li>
    <li><a ui-sref="account.me.user.setting">帳號設定</a></li>
  </ul>
</div>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane active">

    <p class="history-top">共有<span class="pink-style">{{vm.numberOfArticles}}則</span>收藏文章</p>

    <div class="table-responsive">
      <table class="table table-hover">
        <tbody>
          <tr class='clickable-row' ng-repeat="article in vm.articleList | limitTo : vm.pageLimit : vm.index">
            <th ui-sref="blog.detail({ category : article.article_category, articleId : article.article_id })">{{ article.article_created_at ? (article.article_created_at | relativeDate) : '' }}</th>
            <td ui-sref="blog.detail({ category : article.article_category, articleId : article.article_id })"><span class="blue-style-1">[{{ article.categoryName }}]</span> 夜貓子注意！晚睡較消極悲觀</td>
            <td>by <a ui-sref="doctor.detail({ category : article.author_category, doctorId : article.author_id })">{{ article.author_name || ''}} 醫師</a> </td>
          </tr>
        </tbody>
      </table>
    </div>

    <button type="button" class="btn btn-default btn-lg btn-block" ng-show="vm.displayShowMoreButton" ng-click="vm.showMoreFavArticle()">顯示更多收藏文章</button>
    <button type="button" class="btn btn-default btn-lg btn-block" disabled ng-show="!vm.displayShowMoreButton">沒有更多收藏文章</button>

  </div>
</div>
