<div role="tabpanel">
  <ul class="nav nav-pills profile-tab">
    <li><a ui-sref="account.me.user.detail" ui-sref-opts="{reload : true}">個人資料</a></li>
    <li class="active"><a ui-sref="account.me.user.question">問答紀錄</a></li>
    <li><a ui-sref="account.me.user.favArticle">收藏文章</a></li>
    <li><a ui-sref="account.me.user.favQA">收藏問答</a></li>
  </ul>
</div>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane active">

    <p class="history-top">共有<span class="pink-style">{{vm.numOfQuestions}}則</span>發問記錄</p>

    <div class="table-responsive" ng-show="vm.numOfQuestions">
      <table class="table table-hover">
        <tbody>
          <tr class='clickable-row' ui-sref="askdoctor.detail({ category : question.category, questionId : question.question_id })" ng-repeat="question in vm.questionList | limitTo : vm.pageLimit : vm.index">
            <th>{{ question.created_at ? (question.created_at | relativeDate) : '' }}</th>
            <td><span class="blue-style-1">Q</span> {{question.content_text | limitTo : vm.questionLengthMax }}{{ (question.content_text.length > vm.questionLengthMax) ? ' ...' : '' }}</td>
            <td ng-show="question.isAnswered">共<span class="pink-style">1則</span>回答</td>
            <td ng-show="!question.isAnswered"><span class="pink-style">尚無醫師回答</span></td>
          </tr>
        </tbody>
      </table>
    </div>

    <button type="button" class="btn btn-default btn-lg btn-block" ng-show="vm.displayShowMoreButton" ng-click="vm.showMoreQuestion()">顯示更多問答紀錄</button>
    <button type="button" class="btn btn-default btn-lg btn-block" disabled ng-show="!vm.displayShowMoreButton">沒有更多問答紀錄</button>
  </div>
</div>