<div role="tabpanel">
  <ul class="nav nav-pills profile-tab">
    <li class="active"><a ui-sref="account.me.user.detail" ui-sref-opts="{reload : true}">個人資料</a></li>
    <li><a ui-sref="account.me.user.question">問答紀錄</a></li>
    <li><a ui-sref="account.me.user.favArticle">收藏文章</a></li>
    <li><a ui-sref="account.me.user.favQA">收藏問答</a></li>
  </ul>
</div>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="myprofile">

    <div class="pull-right edit"><a class="btn round-btn" ng-click="vm.updateMyInfo()">Save</a></div>

    <div class="table-responsive">
      <table class="table">
        <tbody>
          <tr>
            <th>年齡</th>
            <td><input type="text" class="form-control input-md" ng-model="vm.user.user_info.age"></td>
          </tr>
          <tr>
            <th>性別</th>
            <td>
              <div class="btn-group">
                <label class="btn btn-default" ng-model="vm.user.user_info.gender" btn-radio="vm.GENDER_STRING.MALE"><i class="fa fa-mars"></i></label>
                <label class="btn btn-default" ng-model="vm.user.user_info.gender" btn-radio="vm.GENDER_STRING.FEMALE"><i class="fa fa-venus"></i></label>
                <label class="btn btn-default" ng-model="vm.user.user_info.gender" btn-radio="vm.GENDER_STRING.ARBITRARY"><i class="fa fa-question"></i></label>
              </div>
            </td>
          </tr>
          <tr>
            <th>姓名</th>
            <td><input type="text" class="form-control input-md" id="Name" ng-model="vm.user.user_info.name"></td>
          </tr>
          <tr>
            <th>電話</th>
            <td><input type="text" class="form-control input-md" id="Username" ng-model="vm.user.user_info.phone_number"></td>
          </tr>
          <!-- <tr>
            <th>地址</th>
            <td><input type="text" class="form-control input-md" id="Username" ng-model="vm.user.user_info.address"></td>
          </tr> -->
          <tr>
            <th>地區</th>
            <td>
              <ui-select ng-model="vm.selectedAddress"
                theme="bootstrap"
                reset-search-input="true"
                style="width: 300px;">
                <ui-select-match
                  placeholder="輸入地區...">{{ $select.selected.name }}</ui-select-match>
                <ui-select-choices repeat="location.name as location in vm.locationList | filter : $select.search">
                  <div ng-bind-html="location.text | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
            </td>
          </tr>
          <tr>
            <th>信箱</th>
            <td><a href="javascript:void(0)">{{vm.user.email}}</a></td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
