<div role="tabpanel">
  <ul class="nav nav-pills profile-tab">
    <li><a ui-sref="account.me.doctor.detail" ui-sref-opts="{reload : true}">個人資料</a></li>
    <li><a ui-sref="account.me.doctor.answer">問答紀錄</a></li>
    <li><a ui-sref="account.me.doctor.article">發表文章</a></li>
    <li class="active"><a ui-sref="account.me.doctor.setting">帳號設定</a></li>
  </ul>
</div>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane active">
    <p class="history-top">密碼變更</p>
    <form class="form-horizontal account-setting-panel">
      <div class="form-group">
        <label for="oldPassword" class="col-sm-2 control-label">舊密碼</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="oldPassword" placeholder="輸入舊密碼" ng-model="vm.oldPassword">
        </div>
      </div>
      <div class="form-group">
        <label for="newPassword" class="col-sm-2 control-label">新密碼</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="newPassword" placeholder="輸入新密碼" ng-model="vm.newPassword">
        </div>
      </div>
      <div class="form-group">
        <label for="newPasswordConfirm" class="col-sm-2 control-label">確認新密碼</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="newPasswordConfirm" placeholder="確認新密碼" ng-model="vm.newPasswordConfirm">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
          <p
            ng-show="vm.passwordChangeMsg && vm.passwordChangeMsg.show"
            class="action-notification-message"
            ng-class="{
              true : 'blue-style-1',
              false : 'pink-style' }
              [ vm.passwordChangeMsg && vm.passwordChangeMsg.type === 'success' ]">
            {{ vm.passwordChangeMsg.message }}
          </p>
        </div>
        <div class="col-sm-offset-2 col-sm-4">
          <div class="pull-right edit"><a class="btn round-btn" ng-click="vm.changePassword()">變更</a></div>
        </div>
      </div>
    </form>

    <p class="history-top">變更大頭貼</p>

    <div class="account-setting-panel">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <h3 class="text-center">上傳新照片</h3>
          <div class="cropArea center-block"></div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <h3 class="text-center">新頭貼預覽</h3>
          <div>
            <img ng-src="images/default-user-sticker.png" alt="" class="img-circle center-block sticker-preview" />
          </div>
        </div>
      </div>
      <div class="pull-right edit"><a class="btn round-btn" ng-click="vm.uploadNewSticker()">確定上傳</a></div>
    </div>
  </div>
</div>
